body {
  font-family: "SFU Futura", sans-serif;
  font-style: normal;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 30px;
  width: 100%;
  z-index: 100;
}
#header .navbar.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 300;
  color: #10768a;
  text-transform: uppercase;
}
#header .navbar-collapse {
  -webkit-box-flex: unset;
      -ms-flex-positive: unset;
          flex-grow: unset;
}
#header.active {
  background: #fff;
}

#section1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/home1.png");
  position: relative;
}
#section1 .text {
  position: absolute;
  padding-bottom: 30px;
  bottom: 0;
  width: 100%;
}
#section1 .text .xt1 img {
  margin-right: 10px;
}
#section1 .social li {
  list-style: none;
  margin-left: 10px;
}

#section2 {
  position: relative;
}
#section2 .bg {
  position: relative;
  height: 100%;
}
#section2 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section2 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section2 .bg .container .row .col-lg-6 {
  position: relative;
  z-index: 1;
}
#section2 .bg .container .row .col-lg-6 .img img {
  width: 100%;
}

#section4 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/bg4.jpg");
}
#section4 .fp-tableCell {
  position: relative;
}
#section4 .fp-tableCell .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#section4 .fp-tableCell .text h2 {
  position: absolute;
  left: -100px;
  top: -55px;
  z-index: 5;
}
#section4 .fp-tableCell .text h3 {
  z-index: 1;
}

#section5 .heading h2 {
  margin-left: -200px;
}
#section5 .row.bg {
  background-image: url("../img/3.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#section5 .row.bg .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 1px solid #fff;
  cursor: pointer;
}
#section5 .row.bg .item:last-child {
  border-right: none;
}
#section5 .row.bg .item .text {
  padding: 15px;
  position: relative;
  overflow: hidden;
}
#section5 .row.bg .item .text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#section5 .row.bg .item .text .hover {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin-bottom: -175px;
}
#section5 .row.bg .item .text .hover p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  height: 96px;
  overflow: hidden;
}
#section5 .row.bg .item:hover .hover {
  margin-bottom: 0;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

#section6 .col-lg-8 {
  position: relative;
}
#section6 .tab {
  position: absolute;
  right: 0;
  top: 55px;
  width: 350px;
}
#section6 .tab li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
#section6 .tab li .open {
  display: none;
}
#section6 .tab li a {
  background: #dff0e8;
  color: #74ba45;
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}
#section6 .tab li.active {
  background: #dff0e8;
  padding: 5px;
  border-radius: 5px;
}
#section6 .tab li.active a {
  background: #077841;
  color: #fff;
}
#section6 .tab li.active .open {
  display: block;
  padding: 10px;
}
#section6 .tab li.active .open p {
  font-weight: 300;
  color: #077841;
  margin-bottom: 5px;
  font-size: 16px;
}
#section6 .tab li.active .open p span {
  width: 25px;
  height: 25px;
  background: #1b7436;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}

#section7 {
  position: relative;
  position: relative;
}
#section7 .bg {
  position: relative;
  height: 100%;
}
#section7 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section7 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section7 .bg .container .row .col-lg-9 {
  position: relative;
  z-index: 1;
  margin: 0 -10px;
}
#section7 .bg .container .row .col-lg-9 .img img {
  width: 100%;
}
#section7 .bg .container .row .col-lg-9 .row .img {
  margin-bottom: 20px;
}
#section7 .bg .container .row .col-lg-9 .col-lg-4 {
  padding: 10px;
}
#section7 .bg .container .row .col-lg-9 .col-lg-4:nth-child(2) {
  margin-top: 90px;
}
#section7 .bg .container .row .col-lg-3 {
  position: relative;
  z-index: 1;
}
#section7::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.6)));
  background: linear-gradient(180deg, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%);
  content: "";
}

#section8 .heading h2 {
  margin-left: -300px;
}
#section8 .row .item {
  padding: 15px;
}
#section8 .row .item .img {
  margin-bottom: 10px;
}
#section8 .row .item h3 {
  font-weight: bold;
  color: #166379;
  margin-bottom: 10px;
  font-size: 20px;
}
#section8 .row .item span {
  font-weight: 300;
  color: #2eabae;
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
}
#section8 .row .item p {
  font-size: 16px;
  color: #333333;
}
#section8 .xt2 {
  margin: 0 auto;
}

.heading {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.heading h2 {
  left: 0;
  position: absolute;
  right: 0;
}
.heading h3 {
  margin-top: 30px;
  display: inline-block;
}

a {
  text-decoration: none;
}
a:hover {
  color: #2eabae;
}

ul {
  padding: 0;
  margin: 0;
}

.bgwhite {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.imghover {
  overflow: hidden;
  position: relative;
}

.imghover:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.imghover img {
  width: 100%;
}

.imghover img {
  transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1), -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
}

.imghover:hover:after {
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.imghover:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fontstyle1 {
  color: #2eabae;
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.fontstyle2 {
  color: #166379;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.fontstyle3 {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #333333;
  font-size: 16px;
}

.fontstyle4 {
  font-family: "SFU Futura";
  font-weight: bold;
  color: #333333;
}

.fontstyle5 {
  font-family: "SFU Futura";
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  background: #10768a;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
}

.fontstyle6 {
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-style: italic;
  color: #fff;
  background: #2eabae;
  padding: 0 20px;
  display: inline-block;
}

.marginbt20 {
  margin-bottom: 20px;
}

.marginbt30 {
  margin-bottom: 30px;
}

.ctleft {
  padding-left: 50px;
}

.ctright {
  padding-right: 50px;
}

.text-justify {
  text-align: justify;
}

.xt1 {
  background: url("../img/xt1.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.xt2 {
  background: url("../img/xt2.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  color: #10768a;
  font-size: 20px;
  width: 150px;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

@media (min-width: 1440px) {
  .container-fluid {
    padding: 0 30px;
  }

  .container {
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1600px;
  }

  .fontstyle1 {
    font-size: 80px;
  }

  .fontstyle2 {
    font-size: 40px;
  }

  .fontstyle3 {
    font-size: 18px;
  }
}