body {
  font-family: "SFU Futura", sans-serif;
  font-style: normal;
}

.home_mouse {
  width: 30px;
  height: 45px;
  border: 2px solid #fff;
  border-radius: 60px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9;
  cursor: pointer;
}

.home_mouse::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}
#section1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/home1.png");
  position: relative;
}
#section1 .text {
  position: absolute;
  padding-bottom: 30px;
  bottom: 0;
  width: 100%;
}
#section1 .text .xt1 img {
  margin-right: 10px;
}
#section1 .social li {
  list-style: none;
  margin-left: 10px;
}
#section1 .social_right {
  position: absolute;
  right: 30px;
  top: 30px;
}
#section1 .social_right li {
  list-style: none;
  margin-bottom: 10px;
}
#section1 .social_right li a {
  width: 50px;
  height: 50px;
  background: #20586c;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
}

#section2 {
  position: relative;
}
#section2 .bg {
  position: relative;
  height: 100%;
}
#section2 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section2 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section2 .bg .container .row .col-lg-6 {
  position: relative;
  z-index: 1;
}
#section2 .bg .container .row .col-lg-6 .img img {
  width: 100%;
}

#section4 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/bg4.jpg");
}
#section4 .fp-tableCell {
  position: relative;
}
#section4 .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#section4 .text h2 {
  position: absolute;
  left: -100px;
  top: -55px;
  z-index: 5;
}
#section4 .text h3 {
  z-index: 1;
}

#section5 .heading h2 {
  margin-left: -200px;
}
#section5 .row.bg {
  background-image: url("../img/3.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#section5 .row.bg .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 1px solid #fff;
  cursor: pointer;
}
#section5 .row.bg .item:last-child {
  border-right: none;
}
#section5 .row.bg .item .text {
  padding: 15px;
  position: relative;
  overflow: hidden;
}
#section5 .row.bg .item .text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#section5 .row.bg .item .text .hover {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin-bottom: -175px;
}
#section5 .row.bg .item .text .hover p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  height: 96px;
  overflow: hidden;
}
#section5 .row.bg .item:hover .hover {
  margin-bottom: 0;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

#section6 .col-lg-8 {
  position: relative;
}
#section6 .tab {
  position: absolute;
  right: 0;
  top: 55px;
  width: 350px;
}
#section6 .tab li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
#section6 .tab li .open {
  display: none;
}
#section6 .tab li a {
  background: #dff0e8;
  color: #74ba45;
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}
#section6 .tab li.active {
  background: #dff0e8;
  padding: 5px;
  border-radius: 5px;
}
#section6 .tab li.active a {
  background: #077841;
  color: #fff;
}
#section6 .tab li.active .open {
  display: block;
  padding: 10px;
}
#section6 .tab li.active .open p {
  font-weight: 300;
  color: #077841;
  margin-bottom: 5px;
  font-size: 16px;
}
#section6 .tab li.active .open p span {
  width: 25px;
  height: 25px;
  background: #1b7436;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}

#section7 {
  position: relative;
  position: relative;
}
#section7 .bg {
  position: relative;
  height: 100%;
}
#section7 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section7 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section7 .bg .container .row .col-lg-8 {
  position: relative;
  z-index: 1;
  margin: 0 -10px;
}
#section7 .bg .container .row .col-lg-8 .img img {
  width: 100%;
}
#section7 .bg .container .row .col-lg-8 .row .img {
  margin-bottom: 20px;
}
#section7 .bg .container .row .col-lg-8 .col-lg-4 {
  padding: 10px;
}
#section7 .bg .container .row .col-lg-8 .col-lg-4:nth-child(2) {
  margin-top: 90px;
}
#section7 .bg .container .row .col-lg-4 {
  position: relative;
  z-index: 1;
}
#section7::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.6)));
  background: linear-gradient(180deg, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%);
  content: "";
}

#section8 .heading h2 {
  margin-left: -300px;
}
#section8 .row .item {
  padding: 0 15px;
}
#section8 .row .item .img {
  margin-bottom: 10px;
}
#section8 .row .item h3 {
  font-weight: bold;
  color: #166379;
  margin-bottom: 10px;
  font-size: 20px;
}
#section8 .row .item span {
  font-weight: 300;
  color: #2eabae;
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
}
#section8 .row .item p {
  font-size: 16px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
#section8 .xt2 {
  margin: 0 auto;
}

#footer {
  background: #c1f0f1;
}
#footer h1 {
  font-size: 35px;
  font-weight: bold;
  color: #10768a;
  text-transform: uppercase;
}
#footer .box {
  margin-bottom: 10px;
  padding-left: 30px;
}
#footer .box p.title {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
}
#footer .box p {
  font-size: 16px;
  font-weight: 300;
  color: #333333;
  margin-bottom: 5px;
}
#footer .box p a {
  color: #333333;
}
#footer .ctright .box2 {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .ctright .box2 .img {
  width: 46px;
  margin-right: 10px;
}
#footer .ctright .box2 p {
  width: calc(100% - 56px);
  font-size: 16px;
  font-weight: bold;
}
#footer .ctright .box2 p span {
  font-weight: 300;
  display: block;
}
#footer .ctright .social {
  margin-bottom: 10px;
}
#footer .ctright .social li {
  list-style: none;
  margin-right: 10px;
}
#footer .ctright p.style1 {
  color: #10768a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
#footer .ctright p.style2 {
  color: #2eabae;
  font-size: 16px;
  font-weight: 300;
}
#footer .form {
  background: #10768a;
  padding: 30px;
  border-radius: 5px;
}
#footer .form p.style1 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
#footer .form p.style1 span {
  font-weight: 300;
  display: block;
}
#footer .form a.style1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
#footer .form a.style1 img {
  margin-right: 10px;
}
#footer .form h4 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#footer .form p.style2 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
#footer .form .input {
  background: #0a4c59;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  color: #fff;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
#footer .form .input::-webkit-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::-moz-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input:-ms-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::-ms-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form textarea.input {
  height: 50px;
}
#footer .form button {
  border: none;
}
#footer .form button img {
  margin-right: 10px;
}

#top {
  -webkit-transition: right 2s;
  transition: right 2s;
  right: -100%;
  position: fixed;
  bottom: 180px;
  z-index: 10;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
#top.active {
  right: 30px;
}

.textbg {
  position: relative;
}

.textbg::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.6)));
  background: linear-gradient(180deg, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%);
  content: "";
}

.heading {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.heading h2 {
  left: 0;
  position: absolute;
  right: 0;
}
.heading h3 {
  margin-top: 30px;
  display: inline-block;
}

a {
  text-decoration: none;
}
a:hover {
  color: #2eabae;
}

ul {
  padding: 0;
  margin: 0;
}

.bgwhite {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.width100 {
  width: 100%;
}

.imghover {
  overflow: hidden;
  position: relative;
}

.imghover:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.imghover img {
  width: 100%;
}

.imghover img {
  transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1), -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
}

.imghover:hover:after {
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.imghover:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fontstyle1 {
  color: #2eabae;
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.fontstyle2 {
  color: #166379;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.fontstyle3 {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #333333;
  font-size: 16px;
}

.fontstyle4 {
  font-family: "SFU Futura";
  font-weight: bold;
  color: #333333;
}

.fontstyle5 {
  font-family: "SFU Futura";
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  background: #10768a;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
}

.fontstyle6 {
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-style: italic;
  color: #fff;
  background: #2eabae;
  padding: 0 20px;
  display: inline-block;
}

.marginbt20 {
  margin-bottom: 20px;
}

.marginbt30 {
  margin-bottom: 30px;
}

.ctleft {
  padding-left: 50px;
}

.ctright {
  padding-right: 50px;
}

.text-justify {
  text-align: justify;
}

.xt1 {
  background: url("../img/xt1.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  width: 150px;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.xt2 {
  background: url("../img/xt2.png") no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
  color: #10768a;
  font-size: 20px;
  width: 150px;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #fff !important;
  border-radius: 50%;
  margin: 0 5px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media (max-width: 1280px) {
  #header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
  }
}
@media (min-width: 1280px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    z-index: 100;
  }
  #header .navbar.navbar-light .navbar-nav {
    padding-right: 70px;
  }
  #header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 300;
    color: #10768a;
    text-transform: uppercase;
  }
  #header .navbar-collapse {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  #header.active {
    background: #fff;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }

  .order-lg-last {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
}
@media (min-width: 1440px) {
  .container-fluid {
    padding: 0 30px;
  }

  .container {
    padding: 0 50px;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1600px;
    padding: 0;
  }

  .fontstyle1 {
    font-size: 80px;
  }

  .fontstyle2 {
    font-size: 40px;
  }

  .fontstyle3 {
    font-size: 18px;
  }
}
@media (max-width: 1179px) {
  .hidden {
    display: none;
  }

  .container {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .ctleft, .ctright {
    padding: 0;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-collapse.in {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .fontstyle1 {
    font-size: 48px;
  }

  .fontstyle2 {
    font-size: 24px;
  }

  .xt1, .xt2 {
    font-size: 16px;
  }

  .fontstyle5 {
    font-size: 24px;
  }

  .fontstyle6 {
    font-size: 48px;
  }

  #header {
    background: #daf6f7;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  #header .navbar {
    display: block;
    padding: 10px 0;
  }

  #section1, #section4 {
    min-height: 300px;
  }

  #section2 .bg {
    padding: 30px 0;
  }
  #section2 .bg::before {
    bottom: 0;
    top: auto;
    height: 30%;
    width: 100%;
  }
  #section2 .bg::after {
    width: 100%;
    height: 70%;
    left: 0;
  }
  #section2 .ctleft {
    padding-bottom: 30px;
  }

  #section3 {
    padding: 30px 0;
  }
  #section3 .ctright {
    padding-bottom: 30px;
  }

  #section4 {
    position: relative;
  }
  #section4 .text {
    left: 15px;
    right: 15px;
    bottom: 0;
  }
  #section4 .text h2 {
    left: auto;
    right: 0;
    top: -45px;
  }
  #section4 .text h3 {
    position: absolute;
    right: 0;
  }

  #section5 {
    padding: 60px 0 20px 0;
  }
  #section5 .row.bg {
    background-image: none;
    height: auto;
    width: 100%;
  }
  #section5 .row.bg .item {
    width: 100%;
    height: 142px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
  }
  #section5 .row.bg .item:nth-child(1) {
    background-image: url("../img/mobile/mobile1.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(2) {
    background-image: url("../img/mobile/mobile2.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(3) {
    background-image: url("../img/mobile/mobile3.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(4) {
    background-image: url("../img/mobile/mobile4.png");
    display: block;
  }
  #section5 .row.bg .item .text {
    height: 100%;
  }
  #section5 .row.bg .item .text h3 {
    padding-top: 85px;
    position: relative;
  }

  #section6 {
    padding: 30px 0;
  }
  #section6 .ctright {
    margin-bottom: 30px;
  }
  #section6 .tab {
    position: unset;
    top: 0;
    width: 100%;
    margin-top: 30px;
  }

  #section7 .bg {
    padding: 30px 0;
  }
  #section7 .bg::before {
    bottom: 0;
    top: auto;
    height: 30%;
    width: 100%;
  }
  #section7 .bg::after {
    width: 100%;
    height: 70%;
    left: 0;
  }
  #section7 .bg .container .row .col-lg-8 {
    position: unset;
  }
  #section7 .ctleft {
    margin-bottom: 30px;
  }
  #section7 .ctleft h3 {
    text-align: left !important;
    margin-left: 50px;
  }
  #section7 .owl-item {
    margin: 0 auto;
  }
}
@media (max-width: 414px) {
  #section4 .text h2 {
    left: 0;
    right: auto;
  }
}