@charset "UTF-8";
body {
  font-family: "SFU Futura";
  font-style: normal;
  
}

.home_mouse {
	width: 25px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 60px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
    cursor: pointer;
}
.home_mouse::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
}

.home_mouse.style1 {
  border: 2px solid #166379;
}
.home_mouse.style1::before {
  background-color: #166379;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}
@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}
#section1 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/home1.png");
  position: relative;
}
#section1 .text {
  position: absolute;
  padding-bottom: 30px;
  bottom: 0;
  width: 100%;
}
#section1 .text .xt1 img {
  margin-right: 10px;
}
#section1 .text .container-fluid {
  position: relative;
}
#section1 .social li {
  list-style: none;
  margin-left: 10px;
}

#section2 {
  position: relative;
}
#section2 .bg {
  position: relative;
  height: 100%;
  padding: 50px 0;
}
#section2 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section2 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section2 .bg .container .row .col-lg-6 {
  position: relative;
  z-index: 1;
}
#section2 .bg .container .row .col-lg-6 .img img {
  width: 100%;
}

#section3 {
  padding: 50px 0;
}

#section4 {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  background-image: url("../img/bg4.jpg");
}
#section4 .fp-tableCell {
  position: relative;
}
#section4 .text {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#section4 .text h2 {
  position: absolute;
  left: -100px;
  top: -55px;
  z-index: 5;
}
#section4 .text h3 {
  z-index: 1;
}

#section5 {
  padding: 30px 0;
}
#section5 .heading h2 {
  margin-left: -200px;
}
#section5 .row.bg {
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#section5 .row.bg .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-right: 1px solid #fff;
  cursor: pointer;
}
#section5 .row.bg .item:last-child {
  border-right: none;
}
#section5 .row.bg .item .text {
  padding: 15px;
  position: relative;
  overflow: hidden;
}
#section5 .row.bg .item .text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#section5 .row.bg .item .text .hover {
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  margin-bottom: -175px;
}
#section5 .row.bg .item .text .hover p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  height: 96px;
  overflow: hidden;
}
#section5 .row.bg .item:hover .hover {
  margin-bottom: 0;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  position: relative;
}
#section5 .row.bg .item:hover .textbg::before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.95)));
  background: linear-gradient(to bottom, rgba(16, 118, 138, 0) 0%, rgba(16, 118, 138, 0.95) 100%);
}

#section6 {
  padding: 30px 0;
}
#section6 .col-lg-8 {
  position: relative;
}
#section6 .imghover img {
  width: auto;
}
#section6 .tab {
  position: absolute;
  right: 0;
  top: 55px;
  width: 350px;
}
#section6 .tab li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}
#section6 .tab li .open {
  display: none;
}
#section6 .tab li a {
  background: #dff0e8;
  font-weight: bold;
  font-size: 20px;
  display: block;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 5px;
}
#section6 .tab li.style1 a{
  color: #74ba45;
}
#section6 .tab li.style2 a{
  color: #077841;
}
#section6 .tab li.style3 a{
  color: #ff9026;
}
#section6 .tab li.style1.active a
{
  background: #74ba45;
  color: #fff;
}
#section6 .tab li.style2.active a
{
  background: #077841;
  color: #fff;
}
#section6 .tab li.style3.active a
{
  background: #ff9026;
  color: #fff;
}
#section6 .tab li.active {
  background: #dff0e8;
  padding: 5px;
  border-radius: 5px;
}
#section6 .tab li.active .open {
  display: block;
  padding: 10px;
}
#section6 .tab li.active .open p {
  font-weight: 300;
  color: #077841;
  margin-bottom: 5px;
  font-size: 16px;
}
#section6 .tab li.active .open p span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  margin-right: 10px;
}
#section6 .tab li.style1.active .open p span{
  background: #74ba45;
}
#section6 .tab li.style1.active .open p{
  color: #74ba45;
}
#section6 .tab li.style2.active .open p span{
  background: #077841;
}
#section6 .tab li.style2.active .open p{
  color: #077841;
}
#section6 .tab li.style3.active .open p span{
  background: #ff9026;
}
#section6 .tab li.style3.active .open p{
  color: #ff9026;
}
#section7 {
  position: relative;
  position: relative;
}
#section7 .bg {
  position: relative;
  height: 100%;
  padding: 30px 0;
}
#section7 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#section7 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#section7 .bg .container .row .col-lg-8 {
  position: relative;
  z-index: 1;
  margin: 0 -10px;
}
#section7 .bg .container .row .col-lg-8 .img img {
  width: 100%;
}
#section7 .bg .container .row .col-lg-8 .row .img {
  margin-bottom: 20px;
}
#section7 .bg .container .row .col-lg-8 .col-lg-4 {
  padding: 10px;
}
#section7 .bg .container .row .col-lg-8 .col-lg-4:nth-child(2) {
  margin-top: 90px;
}
#section7 .bg .container .row .col-lg-4 {
  position: relative;
  z-index: 1;
}
#section7::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.6)));
  background: linear-gradient(180deg, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%);
  content: "";
}

#section8 {
  padding: 50px 0;
}
#section8 .heading h2 {
  margin-left: -300px;
}
#section8 .row .item {
  padding: 0 15px;
}
#section8 .row .item .img {
  margin-bottom: 10px;
}
#section8 .row .item h3 {
  color: #166379;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: "SFUFuturaBook";
  margin-top: 15px;
  line-height: 25px;
}
#section8 .row .item span {
  font-weight: 300;
  color: #2eabae;
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
}
#section8 .row .item p {
  font-size: 16px;
  color: #555;
  font-weight: 300;
}
#section8 .xt2 {
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#footer {
  background: #c1f0f1;
  padding: 50px 0;
}
#footer h1 {
  font-size: 22px;
  font-weight: bold;
  color: #10768a;
  text-transform: uppercase;
}
#footer .box {
  margin-bottom: 10px;
  padding-left: 30px;
}
#footer .box p.title {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
#footer .box p {
  font-size: 16px;
  font-weight: 300;
  color: #555555;
  margin-bottom: 5px;
}
#footer .box p a {
  color: #555555;
}
#footer .ctright .box2 {
  margin: 10px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .ctright .box2 .img {
  width: 46px;
  margin-right: 10px;
}
#footer .ctright .box2 p {
  width: calc(100% - 56px);
  font-size: 16px;
  font-weight: bold;
}
#footer .ctright .box2 p span {
  font-weight: 300;
  display: block;
  color: #555555;
}
#footer .ctright .social {
  margin-bottom: 10px;
}
#footer .ctright .social li {
  list-style: none;
  margin-right: 10px;
}
#footer .ctright p.style1 {
  color: #10768a;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}
#footer .ctright p.style2 {
  color: #2eabae;
  font-size: 16px;
  font-weight: 300;
}
#footer .form {
  background: #10768a;
  padding: 30px;
  border-radius: 5px;
}
#footer .form p.style1 {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}
#footer .form p.style1 span {
  font-weight: 300;
  display: block;
}
#footer .form a.style1 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  display: block;
}
#footer .form a.style1 img {
  margin-right: 10px;
}
#footer .form h4 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#footer .form p.style2 {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
#footer .form .input {
  background: #0a4c59;
  font-size: 16px;
  font-weight: 300;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  color: #fff;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}
#footer .form .input::-webkit-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::-moz-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input:-ms-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::-ms-input-placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form .input::placeholder {
  font-family: "SFU Futura", sans-serif;
  color: #fff;
}
#footer .form textarea.input {
  height: 50px;
}
#footer .form button {
  border: none;
}
#footer .form button img {
  margin-right: 10px;
}

#intro1 {
  padding: 110px 0;
  position: relative;
}
#intro1 .row.ct {
  margin: 0 -10px;
}
#intro1 .row.ct .col-lg-6 {
  padding: 0 10px;
}
#intro1 .row.ct .item {
  height: 96px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#intro1 .row.ct .item .img img {
  display: block;
  margin: 0 auto;
}
#intro1 .img.gt, #intro1 .img.gt img  {
  height: 100%;
}
#intro1 .row.ct .item p {
  font-weight: bold;
  font-size: 16px;
}
#intro1 .row.ct .item p span {
  font-size: 14px;
  font-weight: 300;
}
#intro1 .item {
  border: 1px solid #daf6f7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  algin-items: center;
  padding: 10px;
}
#intro1 .item .img {
  width: 95px;
}
#intro1 .item p {
  width: calc(100% - 95px);
  margin: 0;
  padding: 0;
}
#intro1 .item p span {
  display: block;
}

#intro2 .bg {
  position: relative;
  height: 100%;
  padding: 50px 0;
}
#intro2 .bg::before {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 0;
  width: 56.86%;
  height: 100%;
  z-index: 0;
}
#intro2 .bg::after {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 56.86%;
  width: 43.14%;
  height: 100%;
  z-index: 0;
}
#intro2 .container {
  position: relative;
  z-index: 1;
}
#intro2 .container .item_left {
  padding: 0 30px 0 0;
}
#intro2 .container .item_right {
  margin: 0 0 30px 0;
}

#intro3 {
  padding: 50px 0;
}
#intro3 .ct {
  width: 1002px;
}
#intro3 .ct .row {
  margin-bottom: 30px;
}
#intro3 .row {
  width: 100%;
}
#intro3 .text-center {
  margin-bottom: 30px;
}
#intro3 .item img {
  margin: 0 10px 10px 10px;
}
#intro3 .item {
  padding: 0 15px;
}
#intro3 .item h5 {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #dadada;
}
#intro3 .item h5 span {
  font-size: 18px;
  font-weight: 300;
  background: #fff;
}
#intro3 .item img {
  border: 1px solid #dadada;
  border-radius: 5px;
}

#intro4 {
  width: 100%;
  height: 980px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  background-image: url("../img/bg4.jpg");
  position: relative;
}
#intro4::before {
  content: "";
  background: rgba(35, 103, 120, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#intro4 .container {
  position: relative;
}
#intro4 .ct, #intro4 .row {
  width: 100%;
}
#intro4 .ct {
  position: relative;
}
#intro4 .ct .item {
  width: 250px;
  height: 250px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  cursor: pointer  ;
}
#intro4 .ct .item.active  h4{
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
#intro4 .ct .item.active img, #intro4 .ct .item.active p {
  opacity: 0;
}
#intro4 .ct .item .inner {
  padding: 30px;
}
#intro4 .ct .item .inner img{
  width: 30px;
}
#intro4 .ct .item.item1 {
  top: -125px;
  left: -40px;
}
#intro4 .ct .item.item2 {
  top: 200px;
  left: 80px;
}
#intro4 .ct .item.item3 {
  top: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
#intro4 .ct .item.item4 {
  top: 200px;
  right: 80px;
}
#intro4 .ct .item.item5 {
  top: -125px;
  right: -40px;
}
#intro4 .ct .item h4 {
  font-size: 16px;
  font-weight: bold;
  color: #10768a;
  text-transform: uppercase;
}
#intro4 .ct .item img {
  width: 50px;
  margin-bottom: 10px;
}
#intro4 .ct .item p {
  font-size: 14px;
  color: #10768a;
  font-weight: 300;
}
#intro4 .bg {
  background: url("../img/introbg.png") no-repeat center center;
  width: 885px;
  height: 350px;
  margin: 0 auto;
  display: block;
  position: relative;
}
#intro4 .bg h2, #intro4 .bg h3 {
  color: #fff;
}
#intro4 .bg h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
}
#intro4 .bg h3 {
  position: absolute;
  left: 0;
  right: 0;
}

#position1 .bg {
  position: relative;
  height: 100%;
  padding: 100px 0;
}
#position1 .bg::before, #tt.section1 .bg::before {
  content: "";
  background: #10768a;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  z-index: 0;
}
#position1 .bg::after, #tt.section1 .bg::after {
  content: "";
  background: #c1f0f1;
  position: absolute;
  top: 0;
  left: 30%;
  width: 70%;
  height: 100%;
  z-index: 0;
}
#position1 .bg .container {
  position: relative;
  z-index: 1;
}

#position2 {
  padding: 50px 0;
}
#position2 .bg {
  background: url("../img/bgposition1.png") no-repeat top center;
  height: 300px;
  margin: 0 auto;
  width: 1040px;
}
#position2 .bg + .row {
  margin-top: -50px;
}
#position2 .heading2 {
  margin-bottom: 30px;
}
#position2 .item {
  width: 125px;
  position: relative;
  height: 125px;
  margin: 0 5px;
  cursor: pointer;
}
#position2 .item img {
  width: 100%;
}
#position2 .item .hover {
  position: absolute;
  background: rgba(16, 118, 138, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  text-align: center;
  padding: 20px 0;
  display: none;
}
#position2 .item:hover .hover{
  display: block;
}
#position2 .item .hover p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 5px;
}
#position2 .item .hover span {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

#contact1 {
  margin: 120px 0;
  position: relative;
}
#contact1 .home_mouse {
  bottom: -100px;
}

#top {
  -webkit-transition: right 2s;
  transition: right 2s;
  right: 30px;
  position: fixed;
  bottom: 70px;
  z-index: 10;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.social_right {
  position: fixed;
  right: 30px;
  top: 100px;
  z-index: 999;
}
.social_right li {
  list-style: none;
  margin-bottom: 10px;
}
.social_right li a {
  width: 50px;
  height: 50px;
  background: #20586c;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  display: block;
}

.textbg {
  position: relative;
}

.textbg::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.95)));
  background: linear-gradient(to bottom, rgba(16, 118, 138, 0) 0%, rgba(16, 118, 138, 0.95) 100%);
  content: "";
}

.heading {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.heading h2 {
  left: 0;
  position: absolute;
  right: 0;
}
.heading h3 {
  margin-top: 30px;
  display: inline-block;
}

.heading2 p.text {
  font-size: 20px;
  color: #555555;
  font-weight: 300;
  margin-top: 30px;
}

a {
  text-decoration: none;
}
a:hover {
  color: #2eabae;
}

ul {
  padding: 0;
  margin: 0;
}

.bgwhite {
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

.width100 {
  width: 100%;
}

.imghover {
  overflow: hidden;
  position: relative;
}

.imghover:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.imghover img {
  width: 100%;
}

.imghover img {
  transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1);
  transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1), -webkit-transform 3s cubic-bezier(0, 0.6, 0.45, 1);
}

.imghover:hover:after {
  -webkit-box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.imghover:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.fontstyle1 {
  color: #2eabae;
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

.fontstyle2 {
  color: #166379;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.fontstyle3 {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #555555;
  font-size: 16px;
}

.fontstyle4 {
  font-family: "SFU Futura";
  font-weight: bold;
  color: #555555;
}

.fontstyle5 {
  font-family: "SFU Futura";
  font-weight: bold;
  font-size: 42px;
  text-transform: uppercase;
  background: #10768a;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
}

.fontstyle6 {
  font-size: 70px;
  font-family: "MTD Adventures Unlimited Script";
  font-style: italic;
  color: #fff;
  background: #2eabae;
  padding: 0 20px;
  display: inline-block;
}

.marginbt20 {
  margin-bottom: 20px;
}

.marginbt30 {
  margin-bottom: 30px;
}

.ctleft {
  padding-left: 50px;
}

.ctright {
  padding-right: 50px;
}

.text-justify {
  text-align: justify;
}

.xt1 {
  background: url("../img/xt1.png") no-repeat;
  display: inline-flex;
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  width: auto;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.xt1:hover {
  background: none;
  border: 1px solid #fff ;
  border-radius: 50px;
  color: #fff;
  display: inline-flex;
}
.xt2 {
  background: url("../img/xt2.png") no-repeat;
  display: inline-flex;
  font-weight: 300;
  color: #10768a;
  font-size: 20px;
  width: auto;
  height: 49px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding: 0 20px;
}
.xt2:hover {
  background: none;
  border: 1px solid #10768a ;
  border-radius: 50px;
  color: #10768a;
  display: inline-flex;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border: 1px solid #fff !important;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-dots .owl-dot.active {
  background: #fff;
}

.delay-250 {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

/* san pham */
.sanpham_nl {
  padding: 110px 0 50px 0 !important;
}

h2.fontstyle1_sp {
  color: #2eabae;
  font-size: 50px;
  font-family: "MTD Adventures Unlimited Script";
  font-style: italic;
  margin-left: 0 !important;
}

h3.fontstyle2_sp {
  color: #166379;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  margin-top: 55px;
  margin-bottom: 20px;
}

.sp {
  margin-bottom: 30px;
}
.sp .house_demo img {
  max-width: 100%;
  height: 100%;
}

.bg-border {
  border-radius: 5px;
}

.sp .descript_house_demo {
  background: #10768a;
  padding: 10px;
  border-radius: 5px;
  margin-top: 25px;
}
.sp .descript_house_demo .item1 {
  border-right: 1px solid #75a8b2;
}
.sp .descript_house_demo .item1:last-child {
  border-right: none;
}
.sp .right-img {
  padding-left: 40px;
  height: 100%;
}
.sp .descript_house_demo .descript_content .area {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 1199.98px) {
  .sp .right-img {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 0;
  }
}
.descript_house_demo .descript_content .square_meter {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.sp .descript_house_demo .descript_content .square_meter strong {
  font-family: "SFU Futura";
  font-weight: bold;
  color: #fff;
  font-size: 25px;
}
.sp .descript_house_demo .descript_content .scale {
  font-family: "SFU Futura";
  font-weight: 300;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

/* end san pham */
/* qui ho·∫°ch */
#quihoach {
  padding-top: 80px;
}

.quihoach_feature {
  background-color: #c7daab;
}

.quihoach-features-container {
  position: relative;
  padding-left: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image-with-caption {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
}
.image-with-caption img.image-with-caption_link {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.quihoach-features__features {
  position: absolute;
  left: 0;
  background: #10768a;
  padding: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  width: 450px;
  top: 130px;
  border-radius: 5px;
}

.note-quihoach {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 380px;
  padding: 2.5rem 0 2.5rem 2rem;
  font-size: 13px;
}

.quihoach_fontstyle1 {
  color: #FFF;
  font-size: 60px;
  font-family: "MTD Adventures Unlimited Script";
  font-weight: bold;
  font-style: italic;
}

.quihoach_fontstyle2 {
  color: #fff;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.qh_sub_content {
  font-family: "SFU Futura";
  font-weight: 200;
  color: #fff;
  font-size: 16px;
  text-align: justify;
}

@media (max-width: 1380px) {
  .quihoach-features__features {
    top: 50px;
  }
}
@media (max-width: 1199.98px) {
  .quihoach-features-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: block;
    padding-left: 0 !important;
  }

  .quihoach-features__features {
    position: relative;
    width: 90%;
    margin: -170px auto 170px auto;
  }

  .note-quihoach {
    position: unset;
    margin: 0 auto;
    width: 90%;
    padding-top: 0;
  }
}
/* end qui ho·∫°ch */
/* tien do - tin tuc */
#tt {
  padding: 120px 0 70px 0;
}
#tt .row{
  width:  100%;
}
#tt .heading h2 {
  margin-left: -180px;
}
#tt .heading h3 {
  margin-top: 65px;
  display: inline-block;
}
.style_tt{
  margin-left: -140px;
}
.style_tt2{
  margin-right: -100px
}
.img_tt {
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}

#tt .text {
  padding: 0 30px 30px 30px;
}
#tt span.fontstyle1 {
  color: #10768a;
  font-family: "SFU Futura";
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#tt h3.fontstyle2 {
  color: #166379;
  font-size: 30px;
  font-family: "SFU Futura";
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
#tt span.date_tt {
  color: #10768a;
  font-family: "SFU Futura";
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#tt h3.title_tt {
  color: #166379;
  font-size: 18px;
  font-family: "SFUFuturaBook";
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
}
#tt .news_tt {
  margin-top: 10px;
}
#tt p.subtitle_tt {
  font-size: 16px;
  color: #555555;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
#tt .image {
  overflow: hidden;
  padding: 30px 30px 0 30px;
}

.pagination_td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tt_pagination {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #d6d6d6;
  color: #666666;
  text-align: center;
  font-size: 14px;
  font-family: "SFUFuturaBook";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}
.tt_pagination.active {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #10768a;
  color: #10768a;
  text-align: center;
  font-size: 14px;
  font-family: "SFUFuturaBook";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199.98px) {
  #tt {
    padding: 80px 0;
  }
  #tt .image {
    padding: 0;
  }
  #tt .text {
    padding: 0 5px 30px 5px;
  }
}


/* Chi tiết tinh tức */
.tintuc_chitiet{
  padding: 0 50px;
}
@media(max-width:1199.98px){
  .tintuc_chitiet{
    padding: 0;
  }
}
.tintuc_chitiet .title-tt-chitiet{
  color: #166379;
  font-size: 25px;
  font-family: "SFUFuturaBook";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 25px;
}
.tintuc_chitiet .date_tt_chitiet{
  color: #10768a;
  font-family: "SFU Futura";
  font-weight: 300;
  font-size: 14px;
  padding: 10px 0;
  display: flex;
}
.tintuc_chitiet .subtitle_tt_chitiet{
  color: #212121;
  font-family: "SFUFuturaBook";
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  font-weight: 400;
}
.tintuc_chitiet img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  padding-top: 20px;
}
.tintuc_chitiet p.tintuc_chitiet_paragraph{
  font-size: 16px;
  color: #555555;
  font-weight: 300;
  font-family: "SFU Futura";
}
.tintuc_chitiet .name_author{
  color: #212121;
  font-family: "SFUFuturaBook";
  font-size: 20px;
  padding: 10px 0;
  display: flex;
  font-weight: 400;
  float: right;
}
/* End Chi tiết tinh tức */

/* Tiện ích */
.tienich #section6{
  padding: 120px 0 0 0;
}
.tienich-nl {
  background: #FFFFFF;
  position: relative;
}
.tienich-nl .owl-nav button.owl-next {
  background: url("../img/arrow_right.png") no-repeat !important;
  width: 48px;
  height: 44px;
  position: absolute;
  bottom: 315px;
  right: 20%;
  text-indent: -9999px;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
  border: #166379;
}
.tienich-nl .owl-nav .owl-prev {
  background: url("../img/arrow_left.png") no-repeat !important;
  width: 49px;
  height: 45px;
  position: absolute;
  bottom: 315px;
  left: 17%;
  text-indent: -9999px;
}
.tienich-nl .owl-item {
  padding-bottom: 80px;
  padding-right: 30px;
  position: relative;
}

.tienich-nl .item .img {
  position: relative;
  border: 3px solid #10768a;
  border-radius: 8px;
}
.tienich-nl .owl-item.center .item .img::before{
  display: none;
}

.tienich-nl .item .img::before {
  content: "";
  background: rgba(16, 118, 138, 0.5);
  border-radius: 5px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.tienich-nl .item .img img {
  border-radius: 5px;
}
.tienich-nl .item p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #10768a;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: 50px;
  height: 70px;
  overflow: hidden;
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
  font-family: "SFUFuturaBook";
  font-weight: 500;
}
.tienich-nl .sub_tienich{
  margin: 20px auto;
  width: 75%;
  text-align: center;
}

/* End tiện ích */

/* Thu viện */
.thuvien_nl{
  padding-bottom: 50px;
  justify-content: center;
}
.thuvien_nl img.thumb_dowload{
  max-width: 100%;
  padding: 20px 30px 15px 30px;
}
.bottom_content_tv{
  padding: 0 30px;
}
.left-bottom-thuvien{
  border-right: 1px solid #dadada;
}
.ttv-nl{
  font-weight: 300;
  font-size: 20px;
  color: #166379;
  margin-top: 30px;
}
.icon-download{
  width: 60px !important;
  height: 62px !important;
}
.title_download_tv{
  color: #166379;
  font-size: 18px;
  font-family: "SFUFuturaBook";
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 30px;
  padding-left: 35px;
}

/* End  Thu viện */
#tt.section1{
  position: relative;
}
#tt.section1 .container{
  position:relative; 
  z-index: 1;
}
.gallery .item{
  position: relative;
  margin: 15px;
  overflow: hidden;
}
.gallery .item  .hover{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  left: 0;
  right: 0; 
  margin: 5px;
  background: rgba(35, 103, 120, 0.6);
  border-radius: 5px;
  cursor: pointer;
  display: none;
}
.gallery .item  .hover .xt1{
  display: inline-flex;
}
.gallery .item  .hover .inner{
  text-align: center;
}
.gallery .image{
  padding: 0 !important;
}
.gallery .item  .hover h4{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff;
  text-transform: uppercase;
}
.gallery .item:hover .hover{
  display: flex;
}
@media (min-width: 1280px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 30px;
    width: 100%;
    z-index: 100;
   
  }
  #header::before{
    -webkit-transition: top 0.1s ease-out;
    transition: top 0.1s ease-out;
    background: #daf6f7;
    position: absolute;
    top: -100%;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
  }
  #header.bg-header {
    background: #daf6f7;
  }
  #header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 14px;
    font-weight: 300;
    color: #10768a;
    text-transform: uppercase;
    margin: 0 10px 0 0;
  }
  #header .navbar.navbar-light .navbar-nav .nav-item.active, #header .navbar.navbar-light .navbar-nav .nav-item:hover {
    position: relative;
  }
  #header .navbar.navbar-light .navbar-nav .nav-item.active::after, #header .navbar.navbar-light .navbar-nav .nav-item:hover::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #10768a;
    position: absolute;
    margin: 0 5px;
    bottom: 15px;
  }
  #header .navbar-collapse {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  #header.active::before {
    background: #daf6f7;
    -webkit-transition: top 0.25s ease-out;
    transition: top 0.25s ease-out;
    top: 0;
  }
  #header.active .navbar-brand img {
    width: 200px;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }

  .order-lg-last {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.6666666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.6666666667%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.3333333333%;
  }

  #section8 .ct {
    margin: 0 -15px;
  }
}
@media (min-width: 1440px) {
  .container-fluid {
    padding: 0 30px;
  }

  .container {
    padding: 0 50px;
  }

  #header .navbar.navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    margin: 0 20px 0 0;
  }
  #header .navbar.navbar-light .navbar-nav .nav-link:last-child {
    margin: 0;
  }
}
@media (min-width: 1900px) {
  .container {
    min-width: 1600px;
    padding: 0;
  }

  #intro1 .col-lg-7 {
    width: 66.6666666667%;
  }
  #intro1 .col-lg-5 {
    width: 33.3333333333%;
  }

  #intro1 .row.ct p {
    font-weight: bold;
    font-size: 18px;
  }

  #intro2 .bg::before {
    width: 63.45%;
  }
  #intro2 .bg::after {
    left: 63.45%;
    width: 36.55%;
  }

  #intro4 .ct .item.item1 {
    left: 65px;
  }
  #intro4 .ct .item.item2 {
    left: 190px;
  }
  #intro4 .ct .item.item4 {
    right: 190px;
  }
  #intro4 .ct .item.item5 {
    right: 65px;
  }
}
@media (max-width: 1179px) {
  .hidden {
    display: none;
  }

  .container {
    padding: 0 15px;
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .ctleft, .ctright {
    padding: 0;
  }

  .navbar-expand-lg .navbar-toggler {
    display: block !important;
  }

  .navbar-expand-lg .navbar-collapse {
    display: none !important;
  }

  .navbar-expand-lg .navbar-collapse.in {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }

  .fontstyle1 {
    font-size: 48px;
  }

  .fontstyle2 {
    font-size: 24px;
  }

  .xt1, .xt2 {
    font-size: 16px;
  }

  .fontstyle5 {
    font-size: 24px;
  }

  .fontstyle6 {
    font-size: 48px;
  }

  #header {
    background: #daf6f7;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  #header .navbar {
    display: block;
    padding: 10px 0;
  }
  #header .navbar-toggler {
    position: absolute;
    right: 0;
    top: 10px;
  }
  #header .navbar-brand img {
    width: 145px;
  }
  #header .navbar-toggler {
    background: url("../img/navbar.png") no-repeat right ;
    color: transparent;
    border-color: transparent;
    width: 145px;
    height: 35px;
  }
  #header .navbar-toggler::before{
    content  : "MENU";
    position: absolute;
    z-index: 10;
    color: #10768a;
    font-weight: 300;
    font-size: 16px;
    top: 10px;
  }
  #header .navbar-toggler .navbar-toggler-icon {
    display: none;
  }
  #header .navbar-nav {
    padding: 10px 0 0 0;
  }
  #header .navbar-nav .nav-item {
    font-weight: 300;
  }

  #section1, #section4 {
    min-height: 300px;
  }

  #section2 .bg {
    padding: 30px 0;
  }
  #section2 .bg::before {
    bottom: 0;
    top: auto;
    height: 30%;
    width: 100%;
  }
  #section2 .bg::after {
    width: 100%;
    height: 70%;
    left: 0;
  }
  #section2 .ctleft {
    padding-bottom: 30px;
  }

  #section3 {
    padding: 30px 0;
  }
  #section3 .ctright {
    padding-bottom: 30px;
  }

  #section4 {
    position: relative;
  }
  #section4 .text {
    left: 15px;
    right: 15px;
    bottom: 0;
  }
  #section4 .text h2 {
    left: auto;
    right: 0;
    top: -45px;
  }
  #section4 .text h3 {
    position: absolute;
    right: 0;
  }

  #section5 {
    padding: 90px 0 20px 0;
  }
  #section5 .row.justify-content-center {
    display: block;
  }
  #section5 .row.bg {
    background-image: none !important;
    height: auto;
    width: 100%;
  }
  #section5 .row.bg .item {
    width: 100%;
    height: 142px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 15px;
  }
  #section5 .row.bg .item:nth-child(1) {
    background-image: url("../img/mobile/mobile1.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(2) {
    background-image: url("../img/mobile/mobile2.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(3) {
    background-image: url("../img/mobile/mobile3.png");
    display: block;
  }
  #section5 .row.bg .item:nth-child(4) {
    background-image: url("../img/mobile/mobile4.png");
    display: block;
  }
  #section5 .row.bg .item .text {
    height: 100%;
  }
  #section5 .row.bg .item .text h3 {
    padding-top: 85px;
    position: relative;
  }

  #section6 {
    padding: 30px 0;
  }
  #section6 .ctright {
    margin-bottom: 30px;
  }
  #section6 .tab {
    position: unset;
    top: 0;
    width: 100%;
    margin-top: 30px;
  }
  #section6 .img._left img
  {
    width: 100%;
  }
  #section7 .bg {
    padding: 30px 0;
  }
  #section7 .bg::before {
    bottom: 0;
    top: auto;
    height: 30%;
    width: 100%;
  }
  #section7 .bg::after {
    width: 100%;
    height: 70%;
    left: 0;
  }
  #section7 .bg .container .row .col-lg-8 {
    position: unset;
    margin: 0;
  }
  #section7 .ctleft {
    margin-bottom: 30px;
  }
  #section7 .ctleft h3 {
    text-align: left !important;
    margin-left: 50px;
  }
  #section7 .owl-item {
    margin: 0 auto;
  }
  #section8 {
    padding: 30px 0;
  }
  #section8 .heading h2 {
    margin-left: 0;
  }
  #section8 .ct {
    width: 100%;
  }
  #section8 .ct .owl-dots {
    margin-bottom: 30px;
  }
  #section8 .ct .owl-dots .owl-dot {
    border: 1px solid #2b6f83 !important;
  }
  #section8 .ct .owl-dots .owl-dot.active {
    background: #2b6f83;
  }

  #footer {
    padding: 30px 0 70px 0;
  }
  #footer .ctright {
    margin-top: 30px;
  }
  #footer .ctright h1 {
    text-align: center;
  }
  #footer .ctright .width100 {
    width: auto;
    margin: 0 auto 30px;
    display: block;
  }
  #footer .ctright .box {
    padding-left: 0;
  }

  #intro1 h3 {
    text-align: left !important;
  }

  #intro2 h3 {
    text-align: left !important;
  }
  #intro2 .bg {
    padding: 30px 0;
  }
  #intro2 .bg::before {
    height: 70%;
    width: 100%;
  }
  #intro2 .bg::after {
    width: 100%;
    height: 30%;
    left: 0;
    top: 70%;
  }
  #intro2 .ctright {
    margin-bottom: 30px;
  }
  #intro2 .item_right {
    width: 100%;
    margin-bottom: 30px;
  }

  #intro4 {
    background: #10768a;
    height: auto;
    padding: 50px 0;
  }
  #intro4 .bg {
    background: none;
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
  #intro4 .bg h2, #intro4 .bg h3 {
    position: unset;
  }
  #intro4 .item {
    position: unset !important;
    width: 100% !important;
    border-radius: 10px !important;
    margin-bottom: 30px;
  }

  #position1 h3 {
    text-align: left !important;
  }
  #position1 .bg::before, #tt .bg::before  {
    height: 30% !important;
    width: 100% !important;
    top: 70% !important;
    bottom: 0 !important;
  }
  #position1 .bg::after, #tt .bg::after {
    width: 100% !important;
    height: 70% !important;
    left: 0 !important;
    top: 0 !important;
  }

  #position2 .item {
    margin: 15px;
  }
  #position2 .bg + .row {
    margin: 30px 0;
  }
  .title_download_tv{
    padding-left: 0 !important;
  }
  .left-bottom-thuvien{
    border-right: none !important;
  }
  .left-bottom-thuvien a{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .icon-download{
    margin: 0 auto;
    display: inline-flex;
  }
  #tt.section1 .tt_pagination{
    color: #fff;
  }
  .tienich-nl .owl-item{
    padding: 0 5px 80px 5px ;
  }
  .tienich-nl .item p{
    padding-right: 0;
  }
  .social_right{
    top: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #daf6f7;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 230px;
    padding: 10px;
  }
  .social_right li{
    margin: 0  10px;
  }
}
@media (max-width: 500px) {
  #section4 .text h2 {
    left: 0;
    right: auto;
  }

  #intro1 .row.ct .col-lg-6 {
    width: 100%;
  }

  #position2 .bg + .row {
    background: url("../img/bgpositionmobile.png") no-repeat top center;
    padding: 120px 0 0 0;
    margin: 30px 0;
  }
  #top{
    right: 15px;
    bottom: 15px;
  }
  .home_mouse{
    display: none;
  }
  #contact1{
    margin: 80px 0 40px 0;
  }
  .fontstyle1{
    text-align: center;
    font-size: 70px !important;
  }
  .fontstyle2{
    text-align: center;
    margin: 0;
    margin-top: -5px;
  }
  .style_tt, .style_tt2{
    margin: 0;
  }
  #tt .heading h2{
    text-align: center;
    margin: 0;
  }
  .title_download_tv{
    margin-top: 10px;
  }
  .tienich-nl .sub_tienich{
    width: 90%;
  }
  .tienich-nl .owl-nav button.owl-next{
    bottom: 240px;
    right: 3%;
  }
  .tienich-nl .owl-nav .owl-prev{
    bottom: 240px;
    left: 3%;
  }
  .quihoach-features__features{
    margin: 0px auto 90px auto;
  }
  .note-quihoach{
    padding: 0 2rem 2rem 2rem;
    width: 100%;
  }
  #footer .ctright .width100{
    width: 50%;
  }
  .textbg::before{
    border-radius: 5px;
  }
  #section5 .row.bg .item{
    border-radius: 5px;
  }
  .quihoach_fontstyle2{
    font-size: 25px;
  }
  #intro4 .ct .item.item4{
    margin-top: 30px;
  }
  #intro1 h3{
    text-align: center !important;
  }
  .gt_namlong{
    padding: 20px 0;
  }
  #footer .form h4{
    font-size: 20px;
  }
  #intro1 .row.ct .item .img img{
    width: 50%;
  }
  #intro1 .row.ct .item{
    height: auto;
  }
  #intro1 .item .img{
    width: 80px;
  }
  #intro1 .row.ct .item p{
    padding-left: 10px;
  }
  #section3 .ctright{
    padding-top: 30px;
  }
  #section5 .heading h2{
    margin: 0;
  }
  #section5{
    padding: 120px 0 20px 0;
  }
  #section7 .ctleft h3{
    margin-left: 0;
    text-align: center !important;
  }
  .heading h3{
    margin-top: 20px;
  }
  #section8{
    margin: 50px 0;
  }
  #section7{
    margin-top: 50px;
  }
  #section8 .ct .owl-dots {
    margin-bottom: 40px;
    margin-top: -60px;
  }
}