body
  font-family: 'SFU Futura', sans-serif
  font-style: normal
#header
  position: fixed
  top: 0
  left: 0
  padding: 0 30px
  width: 100%
  z-index: 100
  .navbar.navbar-light 
    .navbar-nav
      .nav-link
        font-size: 18px
        font-weight: 300
        color: #10768a
        text-transform: uppercase
  .navbar-collapse
    flex-grow: unset
  &.active
    background: #fff
#section1
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  z-index: 0
  background-image: url('../img/home1.png')
  position: relative
  .text
    position: absolute
    padding-bottom: 30px
    bottom: 0
    width: 100%
    .xt1
      img
        margin-right: 10px
  .social
    li
      list-style: none
      margin-left: 10px
#section2
  position: relative
  .bg
    position: relative
    height: 100%
    &::before
      content: ""
      background: #10768a
      position: absolute
      top: 0
      left: 0
      width: 30%
      height: 100%
      z-index: 0
    &::after
      content: ""
      background: #c1f0f1
      position: absolute
      top: 0
      left: 30%
      width: 70%
      height: 100%
      z-index: 0
    .container
      .row
        .col-lg-6
          position: relative
          z-index: 1
          .img
            img
              width: 100%
#section4
  width: 100%
  height: 100%
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  z-index: 0
  background-image: url('../img/bg4.jpg')
  .fp-tableCell
    position: relative
    .text
      position: absolute
      bottom: 30px
      right: 30px
      h2
        position: absolute
        left: -100px
        top: -55px
        z-index: 5
      h3
        z-index: 1
#section5
  .row.bg
    background-image: url('../img/3.jpg')
    width: 100%
    height: 500px
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    .item
      display: flex
      align-items: flex-end
      border-right: 1px solid #fff
      cursor: pointer
      &:last-child
        border-right: none
      .text
        padding: 15px
        position: relative
        h3
          font-size: 24px
          font-weight: bold
          color: #fff 
          text-transform: uppercase
        .hover
          transition: 0.1s ease-out
          margin-bottom: -170px
          p
            font-size: 16px 
            font-weight: 300
            color: #fff
            height: 96px
            overflow: hidden
      &:hover
        .hover
          margin-bottom: 0
          transition: 1s ease-out
.textbg
  position: relative
  &::before
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    background: -webkit-gradient(linear, left top, left bottom, color-stop(51.62%, rgba(16, 118, 138, 0)), to(rgba(16, 118, 138, 0.6)))
    background: -webkit-linear-gradient(top, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%)
    background: -o-linear-gradient(top, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%)
    background: linear-gradient(180deg, rgba(16, 118, 138, 0) 51.62%, rgba(16, 118, 138, 0.6) 100%)
    content: ""
.heading
  position: relative
  width: 100%
  h2
    left: 0
    position: absolute
    right: 0
    margin-left: -200px
  h3
    margin-top: 30px
    display: inline-block
a
  text-decoration: none
  &:hover
    color: inherit
.bgwhite
  background: #fff
  padding: 5px
  border-radius: 5px
.imghover
  overflow: hidden
  position: relative
.imghover:after
  transition: .3s
  content: ''
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
.imghover 
  img 
    width: 100%
.imghover img
  transition: -webkit-transform 3s cubic-bezier(0,.6,.45,1)
  transition: transform 3s cubic-bezier(0,.6,.45,1)
.imghover:hover:after
  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.5) 
.imghover:hover img 
  transform: scale(1.1)
.fontstyle1
  color: #2eabae
  font-size: 80px
  font-family: 'MTD Adventures Unlimited Script'
  font-weight: bold
  font-style: italic
.fontstyle2
  color: #166379
  font-size: 40px
  font-family: 'SFU Futura'
  font-weight: bold
  font-style: normal
  text-transform: uppercase
.fontstyle3
  font-family: 'SFU Futura'
  font-weight: 300
  color: #333333
  font-size: 16px
.fontstyle4
  font-family: 'SFU Futura'
  font-weight: bold
  color: #333333
.fontstyle5
  font-family: 'SFU Futura'
  font-weight: bold
  font-size: 42px
  text-transform: uppercase
  background: #10768a
  color: #fff
  padding: 10px 20px
  display: inline-block
.fontstyle6
  font-size: 70px
  font-family: 'MTD Adventures Unlimited Script'
  font-style: italic
  color: #fff
  background: #2eabae
  padding: 0 20px
  display: inline-block
.marginbt20
  margin-bottom: 20px
.marginbt30
  margin-bottom: 30px
.ctleft
  padding-left: 50px
.ctright
  padding-right: 50px
.text-justify
  text-align: justify
.xt1
  background: url("../img/xt1.png") no-repeat
  display: flex
  font-weight: 300
  color: #fff
  font-size: 20px
  width: 150px
  height: 49px
  align-items: center
  justify-content: center
  text-transform: uppercase
.xt2
  background: url("../img/xt2.png") no-repeat
  display: flex
  font-weight: 300
  color: #10768a
  font-size: 20px
  width: 150px
  height: 49px
  align-items: center
  justify-content: center
  text-transform: uppercase
@media(min-width: 1440px)
  .container-fluid
    padding: 0 30px
  .container
    padding: 0 50px
    display: flex
    height: 100%