doctype html
html
  include inc/head.jade
body
  // Header
  #header
    include inc/header.jade
  #fullpage
    include inc/section1.jade      
    include inc/section2.jade
    include inc/section3.jade
    include inc/section4.jade
    include inc/section5.jade
    include inc/section6.jade
    include inc/section7.jade
    include inc/section8.jade
    // Footer
    section.section#footer
      .container
        .row
          .col-lg-7
            h1 Thông tin chủ đầu tư
            .row
              .col-lg-6
              .col-lg-6
                .box
                  p TRỤ SỞ CÔNG TY CỔ PHẦN ĐẦU TƯ NAM LONG
                  p Số 6 Nguyễn Khắc Viện, P. Tân Phú, Quận 7, TP.HCM
                  p Điện thoại: 
                    a(href="tel:(028) – 54 16 17 18") (028) – 54 16 17 18
                .box
                  p CHI NHÁNH CẦN THƠ
                  p A2-1 Đường số 10, Khu nhà ở Nam Long, P.Hưng Thạnh, Q.Cái Răng, TP. Cần Thơ
                  p Điện thoại: 
                    a(href="tel:0710.3 837366") 0710.3 837366
                  p Email:
                    a(href="mailto:info@namlongvn.com") info@namlongvn.com
          .col-lg-5
            form.form
              p.style1 Địa chỉ dự án: 
                span Phường Hưng Thạnh, quận Cái Răng, TP. Cần Thơ
              a(href="#") 
                img(src="img/map.png", alt="")
                | Xem google Map
              h4 Đăng ký nhận thông tin 
              p.style2 Nếu quan tâm hay cần tư vấn thông tin liên quan dự án, Quý khách vui lòng điền nội dung theo form dưới chúng tôi sẽ trả lời trong thời gian sớm nhất. 
              input(type="text" placeholder="Họ tên (*)" required).input
              input(type="email" placeholder="Email" required).input
              input(type="phone" placeholder="Điện thoại (*)" required).input
              textarea( placeholder="Nội dung" required).input
              button(type="submit").xt1
                img(src='img/icon4.png', alt='')
                | Đăng ký
  include inc/script.jade

    
