doctype html
html
  include inc/head.jade
body
  // Header
  #header
    include inc/header.jade
  #fullpage
    include inc/section1.jade      
    include inc/section2.jade
    //include inc/section3.jade
    //include inc/section4.jade
    //include inc/section5.jade
    //include inc/section6.jade
    //include inc/section7.jade
    //include inc/section8.jade
    //include inc/footer.jade
  a#top
    img(src='img/top.png', alt='')

  include inc/script.jade

    
