doctype html
html
  include inc/head.jade
body
  // Header
  #header
    include inc/header.jade
  #fullpage
    section.vertical-scrolling#section1
      
    section.vertical-scrolling
      h2 fullPage.js
      h3 This is the third section
    section.vertical-scrolling
      h2 fullPage.js
      h3 This is the fourth section
    section.vertical-scrolling
      .horizontal-scrolling
        h2 fullPage.js
        h3
          | This is the fifth section and it contains the first slide (actually section == first slide)
      .horizontal-scrolling
        h2 fullPage.js
        h3 This is the second slide
        p.end Thank you!
  include inc/script.jade

    
