doctype html
html
  include inc/head.jade
body
  // Header
  #header
    include inc/header.jade
  #fullpage
    section.section#section1
    include inc/section2.jade
    include inc/section3.jade
    section.section#section4
    section.section#section5
      .container
        .row
          .col-lg-12
            .text-center
              h2.fontstyle2 Sản phẩm
              h3.fontstyle1 Khu đô thị



  include inc/script.jade

    
