doctype html
html
  include inc/head.jade
body
  // Header
  #header
    include inc/header.jade
  #fullpage
    #section1.section
      #slide1.slide
        h1 Slide Backgrounds
      #slide2.slide
        h1 Totally customizable
    #section2.section
      h1
        | Lovely images 
        br
        | for a lovely page
    #section3.section
      h1 One Image = One thousand words

  include inc/script.jade

    
