doctype html
html
  include inc/head.jade
body.intro
  // Header
  #header.bg-header
    include inc/header2.jade
  #fullpage
    include inc/intro1.jade
    include inc/intro2.jade
    //include inc/footer.jade
  ul.social_right.hidden
    li 
      a(href="#")
        img(src="img/icon1.png", alt="")
    li 
      a(href="#")
        img(src="img/icon2.png", alt="")
    li 
      a(href="#")
        img(src="img/icon3.png", alt="")
  a#top
    img(src='img/top.png', alt='')

  include inc/script.jade

    
