@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaLight.woff2') format('woff2'),
        url('SFUFuturaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaLightOblique.woff2') format('woff2'),
        url('SFUFuturaLightOblique.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MTD Adventures Unlimited Script';
    src: url('MTDAdventuresUnlimitedScriptBold.woff2') format('woff2'),
        url('MTDAdventuresUnlimitedScriptBold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBoldOblique.woff2') format('woff2'),
        url('SFUFuturaBoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBook.woff2') format('woff2'),
        url('SFUFuturaBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBold.woff2') format('woff2'),
        url('SFUFuturaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBookOblique.woff2') format('woff2'),
        url('SFUFuturaBookOblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

