section.section#contact1
  .container
    .row.align-items-center.justify-content-between
        .col-lg-4.order-lg-last
          .ctleft.animate__animated._left
            h2.fontstyle1 Liên hệ
            h3.fontstyle2.marginbt20 Tư vấn dự án
            p.fontstyle3.text-justify Sức hút cộng thêm của 
              span.fontstyle4 Nam Long II Central Lake 
              | còn từ vị trí nằm trong khu đô thị Nam Long Cần Thơ có tổng quy mô 80ha - thuộc 
              span.fontstyle4 Top dự án đẳng cấp nhất TP. Cần Thơ. 
              | Từ đó, chủ nhân Nam Long II Central Lake có thể thừa hưởng trọn vẹn hệ sinh thái tiện ích “tất cả trong một” của khu đô thị tích hợp đã hình thành mà không cần phải đi đâu xa. Tất cả những gì phục vụ cho nhu cầu sống an cư - làm việc – học tập – mua sắm – giải trí đều được đáp ứng ngay chính tại nơi mình sống. 
        .col-lg-8
          .img.imghover._left
            img(src="img/contact.jpg", alt="")
  .home_mouse.style1       