nav.navbar.navbar-expand-lg.navbar-light.justify-content-between
    a.navbar-brand(href='#')
      img(src='img/logo.png',alt='')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNavAltMarkup' aria-controls='navbarNavAltMarkup' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavAltMarkup.collapse.navbar-collapse
      .navbar-nav
        a.nav-item.nav-link(href='#') Trang Chủ
        a.nav-item.nav-link(href='#') Giới Thiệu
        a.nav-item.nav-link(href='#') Vị trí
        a.nav-item.nav-link(href='#') Quy hoạch
        a.nav-item.nav-link(href='#') Sản phẩm
        a.nav-item.nav-link(href='#') Tiện ích
        a.nav-item.nav-link(href='#') Thư viện
        a.nav-item.nav-link(href='#') Tiến độ
        a.nav-item.nav-link(href='#') Tin tức
        a.nav-item.nav-link(href='#').active Liên hệ

                           
    
