section.section#intro4
  .container
    .row.justify-content-center.align-items-center
      .ct
        .text-center.bg
          h2.fontstyle1 Giới thiệu
          h3.fontstyle2 Lý do lựa chọn
        .item.item1
          .inner
            img(src='img/c1.png',alt='')
            h4 Lợi thế vàng –vạn kết nối
            p Tọa lạc tại phường Hưng Thạnh, quận Cái Răng, TP. Cần Thơ, được bao quanh 3 mặt Tây Bắc, Tây Nam và Đông Nam bởi 3 đại lộ rộng 47m
        .item.item2
          .inner
            img(src='img/c5.png',alt='')
            h4 Hồ sinh thái và công viên trung tâm 
            p Hồ sinh thái và công viên trung tâm lên đến gần 3.400m2. Nơi mọi người ấn tượng với môi trường sống xanh trong lành, hài hoà với môi trường thiên nhiên
        .item.item3
          .inner
            img(src='img/c2.png',alt='')
            h4 hơn 30 tiện ích đẳng cấp
            p Phát triển các dịch vụ logistics và thương mại, dịch vụ cao cấp, tiện ích y tế, giáo dục, văn hóa quan trọng nhất của thành phố Cần Thơ.
        .item.item4
          .inner
            img(src='img/c3.png',alt='')
            h4 Tiềm năng phát triển bất động sản
            p Nằm trong dự án Trung tâm văn hóa Tây Đô. Sẽ là một “cú hích” cực lớn cho thị trường bất động sản phát triển.
        .item.item5
          .inner
            img(src='img/c4.png',alt='')
            h4 Tiềm năng phát triển bất động sản
            p Bằng 29 năm kinh nghiệm phát triển Bất động sản tại thị trường Việt Nam, Nam Long tập trung tích lũy các quỹ đất tại các tỉnh thành trọng điểm có tốc độ tăng trưởng kinh tế mạnh
      
