section.section#intro3
  .container
    .row.justify-content-center.align-items-center
      .ct
        .text-center.heading
          h2.fontstyle1 Giới thiệu
          h3.fontstyle2 Đối tác
        .row.row1
          .col-lg-4
            .item.text-center
              h5 
                span Quy hoạch tổng thể
              .row.justify-content-between
                img(src='img/intro_4.png',alt='')
                img(src='img/intro_4.png',alt='')
          .col-lg-4
            .item.text-center
              h5 
                span Hạ tầng
              .row.justify-content-between
                img(src='img/intro_4.png',alt='')
                img(src='img/intro_4.png',alt='')
          .col-lg-4
            .item.text-center
              h5 
                span Thiết kế công trình
              .row.justify-content-between
                img(src='img/intro_4.png',alt='')
                img(src='img/intro_4.png',alt='')
        .row.row1
          .col-lg-6
            .item.text-center
              h5 
                span Thiết kế công trình
              img(src='img/intro_4.png',alt='')
          .col-lg-6
            .item.text-center
              h5 
                span Tư vấn bất động sản thương mại
              img(src='img/intro_4.png',alt='')
        .row.row1
          .col-lg-12
            .item.text-center
              h5 
                span Tư vấn bất động sản thương mại
              img(src='img/intro_4.png',alt='')
              img(src='img/intro_4.png',alt='')
              img(src='img/intro_4.png',alt='')
