section.section#intro1
  .container
    .row.align-items-center.justify-content-between
        .col-lg-7
          .img.imghover.animate__animated._right
            img(src="img/intro1.jpg", alt="").bgwhite
        .col-lg-5
          .ctleft.animate__animated._left
            h2.fontstyle1 Giới thiệu
            h3.fontstyle2.marginbt20.text-end Tổng quan dự án
            p.fontstyle3.text-justify Xu hướng phát triển mô hình khu đô thị quy mô lớn và kiểu mẫu dần hình thành tại Việt Nam. Các dự án được quy hoạch bài bản cho các tiện ích, dịch vụ nội khu, đa dạng về các sản phẩm nhà ở và thương mại, trường học, bệnh viện, ... luôn tạo nên sức hút đặc biệt. Đó là lý do tại sao, quy hoạch 43ha của Nam Long II Central Lake dễ dàng đáp ứng được yêu cầu nhà ở ngày càng khắt khe của người dân miền Tây Nam Bộ.    
            .row.ct
              .col-lg-6 
                .item
                  .img
                    img(src='img/intro2.png',alt='')
                  p ~ 36%
                    span Mật độ xây dựng
                .item
                  .img
                    img(src='img/intro3.png',alt='')
                  p ~ 1,15 ha
                    span Đất giáo dục
                .item
                  .img
                    img(src='img/intro4.png',alt='')
                  p ~ 9,800 m2
                    span Thương mại dịch vụ
              .col-lg-6
                .item
                  .img
                    img(src='img/intro5.png',alt='')
                  p ~ 3,363 ha
                    span Công viên 
                      br
                      |hồ trung tâm
                .item
                  .img
                    img(src='img/intro6.png',alt='')
                  p ~ 1,700 m2
                    span Đất y tế
                .item
                  .img
                    img(src='img/intro7.png',alt='')
                  p ~ 5,700 m2
                    span Câu lạc bộ TDTT
    .home_mouse.style1       