section.section#intro2
  .bg
    .container
      .row.align-items-center.justify-content-between
        .col-lg-3
          .ctright.animate__animated._right
            h2.fontstyle1 Giới thiệu
            h3.fontstyle2.marginbt20.text-end Chủ đầu tư
            p.fontstyle3.text-justify Khu đô thị tích hợp Nam Long II Central Lake là tâm huyết được phát triển bởi tập đoàn Nam Long 28 năm kinh nghiệm.
            p.fontstyle3.text-justify Đồng hành kiến tạo, phát triển dự án là những thương hiệu quốc tế uy tín, dày dặn kinh nghiệm kiến trúc, quy hoạch và xây dựng. KĐT tích hợp Nam Long II Central Lake cho mỗi chủ nhân thỏa mong ước về một cuộc sống chất lượng cao, môi trường sống đủ đầy tiện ích để tận hưởng sống thoải mái - sống an cư lạc nghiệp - sống an tâm khi con trẻ có môi trường lý tưởng cho phát triển toàn diện trong một KĐT đề cao giá trị phát triển bền vững. 
        .col-lg-9.col-12
          .row.justify-content-between
            .col-lg-8.col-12
              .ctright
                .img.imghover.animate__animated._left
                  img(src="img/intro1_1.png", alt="").bgwhite
            .col-lg-4.row.justify-content-end.col-12
              .row
                .item_right
                  .img.imghover.animate__animated._right
                    img(src="img/intro1_2.png", alt="").bgwhite
                .item_right
                  .img.imghover.animate__animated._left
                    img(src="img/intro1_3.png", alt="").bgwhite
                a.xt1(href="#") Xem thêm dự án khác

