section.section#section6
  .container
    .row.align-items-center
      .col-lg-4
        .ctright.animate__animated.animate__faster
          h2.fontstyle2 Môi trường sống 
          h3.fontstyle1 đẳng cấp quốc tế
          p.fontstyle3.text-justify Giữa nhịp chảy bộn bề của cuộc sống thường nhật, Nam Long II Central Lake cho mỗi chủ nhân thỏa mong ước về một cuộc sống chất lượng cao, môi trường sống đủ đầy tiện ích để tận hưởng sống thoải mái - sống an cư lạc nghiệp - sống an tâm khi con trẻ có môi trường lý tưởng cho phát triển toàn diện.
          a.xt2(href="#") Xem thêm
      .col-lg-8
        .col-lg-9
          .img.imghover.animate__animated.animate__faster
            img(src="img/5.png", alt="").bgwhite
        ul.tab.animate__animated.animate__faster
          li
            a Công trình cộng đồng
            .open
              p 
                span 1
                | Biểu tượng nhận diện dự án
              p
                span 10
                | Quảng trường sự kiện
              p
                span 11
                | Bãi đỗ xe công cộng
              p
                span 12
                | Khu ngắm cảnh
              p
                span 13
                | Khu nghệ thuật
              p
                span 14
                | Sân cầu long
              p
                span 15
                | Sân thể thao đa năng
              p
                span 16
                | BBQ ngoài trời
              p
                span 17
                | Sân sinh hoạt cộng đồng - Yoga
              p
                span 18
                | Dân chơi trẻ em
              p
                span 19
                | Công viên chức năng cho nhóm nhà ở 1
              p
                span 20
                | Công viên chức năng cho nhóm nhà ở 2
              p
                span 21
                | Công viên chức năng cho nhóm nhà ở 3
              p
                span 22
                | Công viên chức năng cho nhóm nhà ở 4
          li
            a Tiện ích cộng đồng
            .open
              p 
                span 1
                | Biểu tượng nhận diện dự án
              p
                span 10
                | Quảng trường sự kiện
              p
                span 11
                | Bãi đỗ xe công cộng
              p
                span 12
                | Khu ngắm cảnh
              p
                span 13
                | Khu nghệ thuật
              p
                span 14
                | Sân cầu long
              p
                span 15
                | Sân thể thao đa năng
              p
                span 16
                | BBQ ngoài trời
              p
                span 17
                | Sân sinh hoạt cộng đồng - Yoga
              p
                span 18
                | Dân chơi trẻ em
              p
                span 19
                | Công viên chức năng cho nhóm nhà ở 1
              p
                span 20
                | Công viên chức năng cho nhóm nhà ở 2
              p
                span 21
                | Công viên chức năng cho nhóm nhà ở 3
              p
                span 22
                | Công viên chức năng cho nhóm nhà ở 4
          li
            a tiện ích khu biệt lập
            .open
              p 
                span 1
                | Biểu tượng nhận diện dự án
              p
                span 10
                | Quảng trường sự kiện
              p
                span 11
                | Bãi đỗ xe công cộng
              p
                span 12
                | Khu ngắm cảnh
              p
                span 13
                | Khu nghệ thuật
              p
                span 14
                | Sân cầu long
              p
                span 15
                | Sân thể thao đa năng
              p
                span 16
                | BBQ ngoài trời
              p
                span 17
                | Sân sinh hoạt cộng đồng - Yoga
              p
                span 18
                | Dân chơi trẻ em
              p
                span 19
                | Công viên chức năng cho nhóm nhà ở 1
              p
                span 20
                | Công viên chức năng cho nhóm nhà ở 2
              p
                span 21
                | Công viên chức năng cho nhóm nhà ở 3
              p
                span 22
                | Công viên chức năng cho nhóm nhà ở 4