section.section#section5
  .container
    .row.justify-content-center.align-items-center
      .ct
        .text-center.heading
          h2.fontstyle2 Sản phẩm
          h3.fontstyle1 Khu đô thị
        .row.bg
          .col-lg-3.item.col-12
            .text.textbg
              h3.animate__animated.animate__faster.t1 Biệt thự
              .hover.hidden
                p Nơi tích hợp các giá trị đáng sống với các giá trị thiên nhiên sinh thái phù hợp với tính cách đặc trưng của con người miền Tây 
                a.xt1(href="#") Xem thêm
          .col-lg-3.item.col-12
            .text.textbg
              h3.animate__animated.animate__faster.t2 Nhà Phố
              .hover.hidden
                p Nơi tích hợp các giá trị đáng sống với các giá trị thiên nhiên sinh thái phù hợp với tính cách đặc trưng của con người miền Tây 
                a.xt1(href="#") Xem thêm
          .col-lg-3.item.col-12
            .text.textbg
              h3.animate__animated.animate__faster.t3 Đất nền
              .hover.hidden
                p Nơi tích hợp các giá trị đáng sống với các giá trị thiên nhiên sinh thái phù hợp với tính cách đặc trưng của con người miền Tây 
                a.xt1(href="#") Xem thêm
          .col-lg-3.item.col-12
            .text.textbg
              h3.animate__animated.animate__faster.t4 Căn hộ
              .hover.hidden
                p Nơi tích hợp các giá trị đáng sống với các giá trị thiên nhiên sinh thái phù hợp với tính cách đặc trưng của con người miền Tây 
                a.xt1(href="#") Xem thêm