section.section#section7
  .bg
    .container
      .row.align-items-center.justify-content-between
        .col-lg-4.order-lg-last
          .ctleft.animate__animated.animate__fadeInRight.delay-250._right
            h2.fontstyle2 Thư viện
            h3.fontstyle1.marginbt20.text-end trải nghiệm 
            p.fontstyle3.text-justify Xu hướng phát triển mô hình khu đô thị quy mô lớn và kiểu mẫu dần hình thành tại Việt Nam. Các dự án được quy hoạch bài bản cho các tiện ích, dịch vụ nội khu, đa dạng về các sản phẩm nhà ở và thương mại, trường học, bệnh viện, ... 
            a.xt2(href="#") Xem thêm
        .col-lg-8.col-12
          .row.owl-carousel.owl-theme
            .col-lg-4.col-12
              .item
                .img.imghover.animate__animated.animate__fadeInRight.delay-250._right
                  img(src="img/6.png", alt="").bgwhite
              .item.hidden
                .img.imghover.animate__animated.animate__fadeInLeft.delay-250._left
                  img(src="img/8.png", alt="").bgwhite
            .col-lg-4.col-12
              .item
                .img.imghover.animate__animated.animate__fadeInRight.delay-250._right
                  img(src="img/9.png", alt="").bgwhite
              .item.hidden
                .img.imghover.animate__animated.animate__fadeInLeft.delay-250._left
                  img(src="img/10.png", alt="").bgwhite
            .col-lg-4.col-12
              .item
                .img.imghover.animate__animated.animate__fadeInRight.delay-250._right
                  img(src="img/11.png", alt="").bgwhite
              .item.hidden
                .img.imghover.animate__animated.animate__fadeInLeft.delay-250._left
                  img(src="img/12.png", alt="").bgwhite
        