section.section#section3
  .container
    .row.justify-content-between.align-items-center
      .col-lg-4
        .ctright.animate__animated._right
          h2.fontstyle2 Trung tâm mới
          h3.fontstyle1 của đất Tây Đô
          p.fontstyle3.text-justify Tọa lạc tại phường Hưng Thạnh, quận Cái Răng, TP. Cần Thơ, khu đô thị 
            span.fontstyle4 Nam Long II Central Lake 
            | thừa hưởng “lợi thế vàng – vạn kết nối” của Quận Cái Răng hợp với hai quận Bình Thủy và Ninh Kiều. Theo quy hoạch định hướng không gian đô thị, dự án thuộc 
            span.fontstyle4 khu vực phát triển đô thị trọng điểm Nam Cần Thơ.
            | Tại đây không chỉ hình thành các khu đô thị mới hiện đại gắn với môi trường sinh thái tự nhiên mà còn phát triển các dịch vụ logistics và thương mại, dịch vụ cao cấp, tiện ích y tế, giáo dục, văn hóa quan trọng nhất của thành phố Cần Thơ.
          a.xt2(href="#") Xem thêm
      .col-lg-8
        .img.imghover.animate__animated._left
          img(src="img/1.png", alt="").bgwhite