section.section#section1
  .text.textbg
    .container-fluid
      .row.align-items-end.justify-content-between
        .col-lg-6
          a.xt1(href="#")
            img(src="img/icon4.png", alt="")
            | Đăng ký
        .col-lg-6
          ul.social.row.justify-content-end
            li
              a(href="#")
                img(src="img/icon6.png", alt="")
            li
              a(href="#")
                img(src="img/icon7.png", alt="")