section.section#section2
  .bg
    .container
      .row.align-items-center.justify-content-between
        .col-lg-6
          .img.imghover.animate__animated.animate__faster
            img(src="img/home2.jpg", alt="").bgwhite
        .col-lg-6
          .ctleft.animate__animated.animate__faster
            h2.fontstyle1 Sức hút từ
            h3.fontstyle2.marginbt30 Khu đô thị tích hợp
            p.fontstyle3.text-justify Nổi bật với điểm nhấn 
              span.fontstyle4 Hồ sinh thái và công viên trung tâm 
              | lên đến gần 3.400m2 với hệ thống hơn 
              span.fontstyle4 30 tiện ích đẳng cấp, 
              | dự án 
              span.fontstyle4 Nam Long II Central Lake 
              | được thiết kế và quy hoạch bởi đội ngũ kiến trúc sư hàng đầu quốc tế để kiến tạo cho cư dân một cuộc sống chất lượng cao. Nơi tích hợp các giá trị đáng sống với các giá trị thiên nhiên sinh thái phù hợp với tính cách đặc trưng của con người miền Tây - sống cởi mở, chan hoà, bao dung và đầy niềm vui.
            a.xt2(href="#") Xem thêm
