section.section#position1 
  .bg
    .container
      .row.align-items-center.justify-content-between
          .col-lg-4.order-lg-last
            .ctleft.animate__animated._left
              h2.fontstyle1 Vị trí
              h3.fontstyle2.marginbt20.text-end Trên bản đồ
              p.fontstyle3.text-justify Tọa lạc tại phường Hưng Thạnh, quận Cái Răng, TP. Cần Thơ, khu đô thị 
                span.fontstyle4 Nam Long II Central Lake 
                | thừa hưởng “lợi thế vàng – vạn kết nối” của Quận Cái Răng hợp với hai quận Bình Thủy và Ninh Kiều. Theo quy hoạch định hướng không gian đô thị, dự án thuộc 
                span.fontstyle4 khu vực phát triển đô thị trọng điểm Nam Cần Thơ. 
                | Tại đây không chỉ hình thành các khu đô thị mới hiện đại gắn với môi trường sinh thái tự nhiên mà còn phát triển các dịch vụ logistics và thương mại, dịch vụ cao cấp, tiện ích y tế, giáo dục, văn hóa quan trọng nhất của thành phố Cần Thơ.
              p.fontstyle3.text-justify Nam Long II Central Lake được bao quanh 3 mặt Tây Bắc, Tây Nam và Đông Nam bởi 3 đại lộ rộng 47m, liên kết thông suốt với hệ thống giao thông huyết mạch của khu vực và sẵn sàng kết nối các trọng điểm kinh tế liên vùng. 
          .col-lg-8
            .img.imghover._left
              img(src="img/1.png", alt="")
    .home_mouse.style1       