section.section#position2
  .container
    .row.justify-content-center.align-items-center
      .ct
        .text-center.heading2
          h2.fontstyle1 Vị trí
          h3.fontstyle2 Liên kết vùng
          p.text Từ khu đô thị  chỉ mất 8-12 phút di chuyển để đến khu vực trung tâm thành phố thông qua những tuyến đường giao thông huyết mạch như cầu Quang Trung, cầu Hưng Lợi, tiếp giáp với 2 trục đường lớn: đường 1B lộ giới 30m kết nối với khu dân cư Trung tâm Văn hoá Tây Đô, thông suốt với các dự án khu đô thị Nam Cần Thơ; đường lộ 47m kết nối trụ sở Thành Đội với đường đại lộ Võ Nguyên Giáp.
        .bg.hidden
        .row.justify-content-center
          .item
            img(src='img/vitri1.png',alt='')
            .hover
              p Chợ nổi
                br
                | cái răng
              span 10 phút
          .item
            img(src='img/vitri3.png',alt='')
            .hover
              p Thiền viện
                br
                | trúc lâm
              span 10 phút
          .item
            img(src='img/vitri4.png',alt='')
            .hover
              p Đaị học 
                br
                | cần thơ
              span 10 phút
          .item
            img(src='img/vitri5.png',alt='')
            .hover
              p làng Du lịch
                br
                | mỹ khánh
              span 10 phút
          .item
            img(src='img/vitri1.png',alt='')
            .hover
              p Bến 
                br
                | Ninh Kiều
              span 10 phút
          .item
            img(src='img/vitri3.png',alt='')
            .hover
              p Cầu
                br
                |  Cần thơ
              span 10 phút
          .item
            img(src='img/vitri1.png',alt='')
            .hover
              p Nhà cổ
                br
                | bình thủy
              span 10 phút
          .item
            img(src='img/vitri1.png',alt='')
            .hover
              p Sân bay
                br
                | cần thơ
              span 10 phút
